<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Heroku Flask Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <h1 id="tittle">Heroku Flask Template</h1>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="https://github.com/vetronus/heroku-flask-template">SOURCE CODE(GitHub)</a></li>
                <li><a href="http://parthsarthee.com/">PARTH SARTHEE(Author)</a></li>
                <li><a href="http://aroxbit.com">AROXBIT(Awesome Indie Startup)</a></li>
            </ul>
        </nav>
        <h2>What is Heroku Flask Template</h2>

        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <df-messenger
          intent="WELCOME"
          chat-title="GarnkoSklep"
          agent-id="dc276af2-21a8-44cf-96de-ffe89506379d"
          language-code="pl"
        ></df-messenger>

      </body>
</html>